.cover-img
	width: 20rem
	border: 0.3rem solid #826F66

.socials
	width: 50%
	display: grid
	grid-template-rows: auto
	grid-template-columns: 	2rem 2rem 2rem

.socials a:visited
	color: #F7CCAC

.header
	display: flex

.header-content
	display: flex
	flex-direction: column
	align-items: flex-start
	justify-content: center
	gap: 1rem
